* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* color: #ffffff; */
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  border: 1px solid black;
  height: 105px;
  transition: all 0.2s ease-in-out;
  background: #ffffff;
}
.navbar .logo {
  width: 150px;
}
.navbar .logo img {
  width: 100%;
}
.links {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}
.links li a {
  color: #111111;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  background: rgba(39, 39, 39, 0.326);
  color: white;
}
.hero::before {
  position: absolute;
  content: "";
  background: url("../image/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg") center
    center/cover;

  height: calc(100vh - 100px);
  width: 100%;
  z-index: -1;
}

.title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.para {
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 18px;
}
.btn {
  padding: 10px 30px;
  /* height: 40px; */
  /* height: 50px; */
  font-size: 18px;
  background: transparent;
  color: white;
  border: 2px solid white;
  transition: ease-in 0.3s;
}
.btn:hover {
  padding: 15px 35px;
  /* height: 60px;x */
  cursor: pointer;
  background: rgb(255, 1, 1);
  box-sizing: border-box;
}
.section {
  height: 40h;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111111;
  margin-top: 50px;
}
.courseBlog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  width: 90%;
  flex-wrap: wrap;
}
.course .courses {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  border-radius: 12px;
  transition: all ease-in-out 0.5s;
  margin: 10px 0px;
}
.course .courses:hover {
  box-shadow: 10px 10px 20px grey;
}

.courses h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}
.courses p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.facility {
  background: #7bc4d5;
  padding-top: 40px;
}
.facility .courses {
  height: 350px;
  width: 350px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 0 10px; */
  border-radius: 12px;
  box-shadow: 10px 10px 20px grey;
  margin: 10px 0px;
  cursor: pointer;
  overflow: hidden;
  background: #ffffff;
}
.facility .courses img {
  height: 50%;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
}
.facility .courses p {
  padding: 0px 25px;
  /* margin-bottom: 20px; */
}
.footer {
  /* height: 40vh; */
  background-color: rgb(54, 51, 51);
  padding: 60px 150px;
}
.footer .footerUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 0px 50px;
}
.footer .footerUp img {
  background: rgb(255, 255, 255);
  border-radius: 12px;
}
.footer .footerUp .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.right .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  height: 150px;
}
.right .links1 h3 {
  margin-bottom: 15px;
}
.fa-brands {
  font-size: 26px;
}
.right .links:last-child {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.line {
  /* width: 100%; */
  background: #ffffff;
  height: 1px;
  margin: 40px;
  /* padding: 10px 20px; */
}
.footerDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0px 45px;
}
.sticky {
  position: sticky;
  top: 0;
  height: 100px;
  background: #ffffff;
  box-shadow: 10px 1px 20px;
}
.links1 li a {
  color: #ffffff;
}
form {
  height: 80vh;

  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: column;
  width: 100%;
}
input {
  padding: 12px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  width: 50vw;
  background: none;
  border: none;
  /* border-bottom: 2px solid grey; */

  border-bottom: groove;
  outline: none;
}

input::placeholder {
  font-size: 22px;
  border: none;
}
textarea {
  padding: 12px;
  margin: 4px;
  width: 50vw;
}
label {
  color: rgb(39, 39, 39);
  font-size: 18px;
  font-weight: 700;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.submit {
  font-size: 22px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  /* background: rgb(0, 0, 255); */
  box-shadow: 5px 5px 5px;
  transition: all ease-in 0.2s;
}
.submit:hover {
  box-shadow: 1px 1px 1px;
}
/* .A1 {
  text-align: right;
  float: right;    
  padding: 30px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.i1 {
  text-align: left;
  width: 50%;
}

.A2 {
  text-align: left;
  float: left;    
  padding: 30px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 30px;
}
.i2 {
  text-align: right;
  float: right;
  width: 50%;
  padding: 20px;
  
}
.A3 {
  text-align: right;
  float: right;    
  padding: 30px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.i3 {
  text-align: left;
  width: 50%;
} */
